@tailwind base;
@tailwind components;
@tailwind utilities;

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.product-card {
  padding: 46px 50px;
  border: 1px solid rgb(245, 245, 245);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-height: 120px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  height: 200px;
  width: 200px;
}

.empty-card {
  padding: 70px 60px;
  border: 1px solid #ecf3ff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  height: 200px;
  width: 200px;
}

.remove-btn {
  transform: translateY(25px);
}

.next-btn {
  background: #4b6fff;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  padding: 8px 10px;
  border-radius: 6px;
}

button:disabled {
  background: #a5b7d4;
  color: #fff;
}
